.wrapper_a7e7a8,
.theme-dark .container__590e2,
.theme-dark .container_ca50b9,
.chatContent__5dca8,
.theme-dark .themed_b152d4,
.members__9f47b,
.member_b44d5d {
	background-color:black;
}

.theme-dark .form__13a2c:before,
.theme-dark .children__32014:after {
	background:black;
}

.themedBackground__6b1b6 {
	background: #171717;
}
