body,
.AppHeader,
section[aria-labelledby],
.color-bg-default,
.bgColor-default,
html[data-color-mode=dark] .feed-background,
.feed-item-content,
.gh-header,
.discussion-timeline-actions {
	background-color: black !important;
}

.timeline-comment,
.Box {
	background-color: hsl(214 13% 7% / 1);
}

[data-color-mode="dark"][data-dark-theme="dark_dimmed"], [data-color-mode="dark"][data-dark-theme="dark_dimmed"] ::backdrop, [data-color-mode="auto"][data-light-theme="dark_dimmed"], [data-color-mode="auto"][data-light-theme="dark_dimmed"] ::backdrop {
	--bgColor-default: black;
	--bgColor-muted: hsl(214 13% 7% / 1);
}
