span.text-red.text-bold,
.form-group.errored,
.blob-code-hunk,
.pl-c1,
.pl-s .pl-v,
.tab-size[data-tab-size="2"],
.tab-size[data-tab-size="8"] {
  filter: hue-rotate(180deg);
}
.blob-num-expandable,
.blob-num-hunk {
  filter: hue-rotate(180deg) !important;
}
.dropdown-menu.flex-auto.rounded-1.bg-white.px-0.mt-0.pb-4.p-lg-4.position-relative.position-lg-absolute.left-0.left-lg-n4,
a.mr-4,
.py-7.py-md-8.py-lg-9.bg-gray-dark .col-12.col-lg-3.mx-auto.mx-lg-0.mb-3.mb-lg-0.mt-6.mt-lg-3,
.py-7.py-md-8.py-lg-9.bg-gray-dark,
.rounded-1.text-gray.bg-gray-light.py-4.px-4.px-md-3.px-lg-4,
.btn-primary-mktg,
.jumbotron-codelines,
.user-status-container,
.pb-3 .f5,
.repo-language-color,
.contrib-legend .legend,
.user-status-circle-badge,
.vcard-fullname,
.select-menu-item-text,
.branch-action-state-clean .branch-action-body:before,
.branch-action-state-clean .branch-action-icon,
.completeness-indicator-success,
.diffstat,
.btn-danger,
.IssueLabel,
.suggester li,
header .dropdown-menu-sw,
.Label--green,
.Label--gray,
.Label--outline,
.Label--outline-green,
.Progress,
.state,
.State,
.btn-primary,
.menu-item-danger,
.menu-item-danger.selected,
g-emoji,
.dropdown-menu-sw,
header,
:root object,
:root video,
:root svg,
:root img,
:root {
  filter: invert(1);
}
.blob-num.non-expandable,
svg.octicon.octicon-plus,
.dropdown-menu-sw,
summary.Header-link img,
a.Header-link svg {
  filter: initial;
}
.markdown-body img {
  background-color: black;
}
.markdown-body code,
.markdown-body tt {
  background-color: rgba(27,31,35,.125);
}
.branch-action-state-clean .branch-action-body {
  border-color: #cc2fa0;
}
.bg-red {
  background-color: #2bc5b5 !important;
}
.bg-green {
  background-color: #d857b4 !important;
}
