.ab_button,
.sh-sp__pswtr a.sh-sp__btn,
#brs .med,
.nrXPnc,
.JNkvid .HnYYW,
.JXRj4e,
.NOK5hf,
.c0L1fd,
div.yeRnY,
td.LakcPb,
td.fs5Qwd,
form[role=search] input[type=text] {
  color: #fff !important;
}

form[role=search] svg {
  fill: #666;
}

.c274Wb,
.GxwVnb,
.ChlgHf .HnYYW,
g-inner-card, 
body, 
h2, 
span, 
span em, 
#res a div:nth-of-type(1), 
form input[type=text], 
div#bres div:first-child {
  color: #fff !important;
}

.zthhpf,
.sbib_a,
.e7RZX,
.cF4V5c,
div.RNNXgb,
form[role=search] div:nth-of-type(2) div:nth-of-type(1) div:nth-of-type(2), 
form[role=search] div:nth-of-type(2) div:nth-of-type(1) div:nth-of-type(3) div:nth-of-type(2), 
g-left-button, 
g-right-button, 
#hdtb-tls:hover, 
a[href*='/imgres?imgurl'] {
  background: #111 !important;
}

.EHzcec,
.jZWadf,
#topstuff .sh-sp__pswtr,
.sh-sr__sponsored-row .sh-sp__pswtr,
.uch-xa-tl,
.yvg0ob span,
div.fLJSwc,
div#fbar,
body, 
li.sbhl div[role=option], 
.sbhl {
  background: #000 !important;
}

.tX9u1b:hover .Rq5Gcb,
.tX9u1b:hover,
.sbibod {
  background-color: #111 !important;
}

.G9CET,
g-inner-card,
.dU5Kl,
.Eogop .xuoMNd,
div.cUezCb,
g-fab, 
div[data-link*='https://podcasts'] g-inner-card, 
div#appbar, 
div#top_nav div div[role=navigation] div, 
div.minidiv div:nth-of-type(2),
#res a, 
div#bres div:first-child, 
/*g-inner-card div:nth-of-type(2), */
div[jsl*='$t'] div:nth-of-type(1), 
div#extabar {
  background-color: #000 !important;
}

div#rso a[ping*='/url']:not(.fl), 
a.link, 
#hdtb-msb .hdtb-mitem.hdtb-msel, 
a.fl:link, 
#hdtb .hdtb-mitem a:hover {
  /* blue */
  color: #1a73e8 !important;
}

cite {
  color: rgba(26, 115, 232, 0.5) !important;
}

.s .st em, 
.st.s.std em, 
#res a div:nth-of-type(2) span:nth-of-type(1) {
  color: #666 !important;
}

.action-menu .mn-dwn-arw {
  border-color: rgba(255,186,0,0.75) transparent !important;
}

#hdtb-msb .hdtb-mitem.hdtb-msel {
  /* blue */
  border-color: #1a73e8 !important;
}

.zthhpf,
.sbibod,
div.RNNXgb,
form[role=search] div:nth-of-type(2) div:nth-of-type(1) div:nth-of-type(2) {
  border-color: #222;
}

#hptl a {
  color: #888 !important;
}

.ab_button,
.tfB0Bf input[type="submit"] {
  background-image: none !important;
  background-color: #111 !important;
  border: 1px solid #222 !important;
}

.tfB0Bf input[type="submit"]:hover {
  color: #aaa !important;
}

.O8Q2Ie,
.lC4QN,
.nrXPnc a.ng6NAf {
  color: #1a73e8 !important;
}