:root .dark {
    --B0: black;
    --B1: black;
    --B1H: black;
    --B2: #111;
    --B3: #111;
}

div[role=toolbar],
html.theme-dark .chart-page,
html.theme-dark .group-gmpTgcxI,
html.theme-dark #layout-size-sensor {
    background: black;
}
