.wUrVib,
div.card-section a,
.nDgy9d,
div.St3GK a,
a.fl,
#res h3,
#botstuff h3 {
  color: #fff;
}

span em {
  color: #d18b00 !important;
}

.wU8otb,
.DCxYpf {
  fill: #fff;
}

.widget-expand-button-pegman-icon,
.highres .widget-expand-button-label,
.MrEfLc,
.gl,
#foot a,
.NVbCr,
.wUrVib,
div.card-section a,
span em,
.nDgy9d,
div.St3GK a,
a.fl,
#res h3,
#botstuff h3,
.WaWKOe,
.WaWKOe img,
#cnt #foot,
:root object,
:root video,
:root svg,
:root img,
:root {
  filter: invert(1) !important;
}

g-left-button,
g-right-button {
  filter: invert(.1);
}
