/* soundcloud */

html {
	background-color: white;
}
#app > header {
	background-color: black;
}
span.artistNavigationItem__name {
	color: black;
}
div.profileHeaderBackground__visual,
.userAvatarBadge__image,
div.chart-container,
[aria-role=img],
#app > header,
div.fullHero,
video,
html,
img {
	filter: invert() hue-rotate(180deg);
}
#app > header [aria-role=img],
div.fullHero [aria-role=img] {
	filter: unset;
}
div.artistShortcutsModal {
	color: black;
	background-color: white;
	background-image: none;
}
