/* soundcloud */

html {
	background-color: white;
}
.sc-classic .header {
	background-color: black;
}
div.profileHeaderBackground__visual,
div.chart-container,
header[role=banner],
[aria-role=img],
div.fullHero,
video,
html,
img {
	filter: invert() hue-rotate(180deg);
}
header[role=banner] [aria-role=img],
div.fullHero [aria-role=img] {
	filter: unset;
}
span.artistNavigationItem__name {
	color: black;
}
