/* soundcloud */

html {
	background-color: white;
	filter: invert() hue-rotate(180deg);
}
div.profileHeaderBackground__visual,
header[role=banner],
[aria-role=img],
video,
img {
	filter: invert() hue-rotate(180deg);
}
div.fullHero,
div.chart-container {
	filter: invert() hue-rotate(180deg);
}
header[role=banner] [aria-role=img],
div.fullHero [aria-role=img] {
	filter: unset;
}
