body {
	background-color: #161616 !important;
}

input.commentForm__input {
    color: #fff !important;
}

body {
    background: #111 !important;
}

div.playControls {
    z-index: 9999999;
}

html,
body,
div#app,
div.dropbar__content,
div.playControls__inner,
div.playControls__elements,
div.sc-button-group,
div.sound__soundActions,
div.volume__sliderWrapper,
div.searchTitle,
div.l-top,
div.dialog {
    background-color: #111 !important;
}

div.commentForm__wrapper,
.playControls__inner, .playControls__bg,
ul.userNetworkTabs,
div.listenEngagement,
input.commentForm__input,
button.sc-button-responsive {
	background-color: #111 !important;
	border-color: #111 !important;
}
